:root {
  /* thumb variables */
  --thumb-border: none;
  --thumb-border-radius: 3px;
  --thumb-background: #C7CED480;
  --thumb-size: 6px;

  /* track variables */
  --scrollbar-background: none;
  --scrollbar-border: none;
  --scrollbar-border-radius: 0;
}