.lazy-scrollable-by-y {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    height: 100px;
    line-height: 100px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #cccccc;
  }
}

.lazy-scrollable-by-x {
  display: flex;
  gap: 10px;

  &__item {
    height: 100px;
    line-height: 100px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #cccccc;
  }
}