.scrollable__scrollbar {
  overflow: hidden;
  user-select: none;
  border-radius: var(--scrollbar-border-radius, 0);
  background: var(--scrollbar-background, none);
  border: var(--scrollbar-border, none);

  &__track {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  &__thumb {
    box-sizing: border-box;
    border: var(--thumb-border, none);
    border-radius: var(--thumb-border-radius, 3px);
    background: var(--thumb-background, #C7CED480);
    cursor: pointer;
    touch-action: none;
  }

  &__thumb_vertical {
    height: 0;
    width: var(--thumb-size, 6px);
  }

  &__thumb_horizontal {
    height: var(--thumb-size, 6px);
    width: 0;
  }
}