.scrollbar_by_x {
  overflow: hidden;
  user-select: none;

  &__thumb {
    border-radius: 3px;
    background: #cccccc;
    cursor: pointer;
    touch-action: none;
    height: 6px;
    width: 0;
  }
}