.scrollbar_by_y {
  overflow: hidden;
  user-select: none;

  &__thumb {
    border-radius: 3px;
    background: #cccccc;
    cursor: pointer;
    touch-action: none;
    height: 0;
    width: 6px;
  }
}