.scrollable {
  display: grid;
  grid-template-columns: auto 0;
  grid-template-rows: auto 0;
  gap: 2px;

  &_by-x {
    grid-template-rows: auto 6px;
  }

  &_by-y {
    grid-template-columns: auto 6px;
  }

  &_show-mouse-on-hover {
    .scrollable__slider {
      visibility: hidden;
    }

    &:hover {
      .scrollable__slider {
        visibility: visible;
      }
    }
  }
}